/* default style */

h1,h2,h3,h4,h5,h6 {
    font-family: Rockwell, Georgia, Times, 'Times New Roman', serif;
    text-rendering: optimizeLegibility;
    margin-bottom: 0.5rem;
    font-weight: normal;
    font-style: normal;
    margin-top: 0.2rem;
    line-height: 1.4;
    color: #191a7e;   
}


/* CHEVICONS */

@font-face {
    font-family: "chevicon";
    src: url("../font/chevicon.eot");
    src: url("../font/chevicon.eot?#iefix") format("embedded-opentype"), 
         url("../font/chevicon.woff") format("woff"), 
         url("../font/chevicon.ttf") format("truetype"), 
         url("../font/chevicon.svg#chevicon") format("svg");
    font-weight: normal;
    font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
    @font-face {
        font-family: "chevicon";
        src: url("../font/chevicon.svg#chevicon") format("svg");
    }
}

[class^="chevicon-"]:before,[class*=" chevicon-"]:before,
[class^="chevicon-"]:after,[class*=" chevicon-"]:after {
    font-family: chevicon;
    font-style: normal;
    display: inline-block;
    color: #191a7e;
    font-size: 18px;
}

.chevicon-chev-down:before { 
    content: "\f100";
    margin: 6px 0 0 19px;
}
.chevicon-chev-left:before { 
    content: "\f101"; 
}
.chevicon-chev-right:before { 
    content: "\f102"; 
}
.chevicon-chev-up:before { 
    content: "\f103"; 
    margin: 6px 0 0 19px;
}

/* CHEVICONS */

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

#online-biz-container {   
    max-width: 300px;
    box-shadow: 0 0 4px #A9A9A9;
    overflow: hidden;
}

#online-biz-toggle {
    padding: 20px 30px;
    cursor: pointer;
}

#online-biz-toggle h2 {
    float: left;
    line-height: 28px;
    margin: 0;
    font-size: 24px;
}

#online-list-containter {
    font-family: Arial, Helvetica, sans-serif;
    -webkit-transition: max-height 0.5s ease-in-out;
    transition: max-height 0.5s ease-in-out;
}

#online-list-containter ul {
    -webkit-transition: opacity 0.6s;
    transition: opacity 0.6s;
    -webkit-transition-delay: 0.2s;
    transition-delay: 0.2s;
}

#online-biz-container .ob-hide {
    opacity: 0;
}

#online-biz-container .ob-expanded {
   max-height: 750px;
}

#online-biz-container .ob-collapse {
    max-height: 0;
    overflow: hidden;
}

#online-list-containter .ob-phone {
    font-weight: bold;
    font-size: 13px;
}

#online-list-containter .ob-details {
    text-decoration: none;
}

#online-list-containter h2 {
    font-family: inherit;
    font-weight: bold;
    line-height: 20px;
    margin: 0 0 5px 0;
    text-align: left;
    font-size: 14px;
    color: #084898;
}

#online-list-containter p {
    font-family: inherit;
    margin: 0 0 5px 0;
    line-height: 18px;
    font-weight: normal;
    font-size: 13px;
    color: #2e2e2e;
}

#online-list-containter a {
    color: #084898;
    font-size: 13px;
    display: inline-block;
    font-weight: bold;
}

#online-list-containter ul {
    padding: 0;
    margin: 0 30px 20px 30px;
    list-style-type: none;
}
#online-list-containter ul li {
    border-bottom: solid 1px #dddddd;
    padding: 25px 0;
}
#online-list-containter ul li:first-child { 
    border-top: solid 1px #dddddd;
}
#online-list-containter ul li:last-child { 
    border-bottom: none;
}
